@font-face {
    font-family: Myriad;
    src: url('./../fonts/MyriadPro-Light.otf');
    font-weight: 300;
}

@font-face {
    font-family: Myriad;
    src: url('./../fonts/MyriadPro-Regular.otf');
    font-weight: 400;
}

@font-face {
    font-family: Myriad;
    src: url('./../fonts/MyriadPro-Semibold.otf');
    font-weight: 600;
}

@font-face {
    font-family: Myriad;
    src: url('./../fonts/MyriadPro-Bold.otf');
    font-weight: 700;
}

@font-face {
    font-family: "Adobe Garamond";
    src: url('./../fonts/AGaramondPro-Regular.otf');
    font-weight: 400;
}

@font-face {
    font-family: "Adobe Garamond";
    src: url('./../fonts/AGaramondPro-SemiboldItalic.otf');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Adobe Garamond";
    src: url('./../fonts/AGaramondPro-BoldItalic.otf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: Slick;
    src: url('./../fonts/slick.ttf');
}