@import '../helpers/colors';

body, html {
    margin: 0;
    padding: 0;
}

.main-body {
    height: 100vh;
    width: 100vw;
    background-image: url('./../img/main-background.png');
    background-size: cover;
}

@import '../partials/header';