@import '../helpers/colors';
@import '../helpers/fonts';

body, html, p, a, button {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #000;
}

.main-body {
    background-image: url('./../images/main-background.png');
    background-size: cover;
}

@import '../partials/slider';
@import '../partials/nav';
@import '../partials/header';
@import '../partials/footer';