@import '../helpers/colors';
@import '../helpers/fonts';

body, html, p, a, button {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #000;
}

.main-body {
    background-image: url('./../images/main-background.png');
    background-size: cover;
}

.loading {
    z-index: 201;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #fcfefc;

    &__gif {
        margin-top: 10%;
    }
}

@import '../partials/slider';
@import '../partials/nav';
@import '../partials/header';
@import '../partials/footer';